{% extends 'cms_base.html.twig' %}

{% block body %}

    <div class="container">
        <h2>List of persons</h2>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Date of birth</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for person in persons %}
                <tr>
                    <td>
                        {% if person.imagePath %}
                            <img src="/uploads/{{ person.imagePath }}" alt="" class="img-fluid">
                        {% endif %}
                    </td>
                    <td>{{ person.name }}</td>
                    <td>{{ person.dateOfBirth|date('d. m. Y.') }}</td>
                    <td>
                        <a href="{{ path('cms_show_person', {'id': person.id}) }}" class="btn btn-success">View</a>
                    </td>
                    <td>
                        <a href="{{ path('cms_edit_person', {'id': person.id}) }}" class="btn btn-primary">Edit</a>
                    </td>
                    <td>
                        <a href="{{ path('cms_delete_person', {'id': person.id}) }}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}